<div class="row">
    <div class="card" style="width: 17rem;">
        <div class="product-grid3">
            <div class="product-image3">
                <img class="pic-1" alt="{{ product.Name }}" [src]="product.ImageSrc">
            </div>
            <div class="product-content">
            <h3 class="title"><b>{{ product.Name }}</b></h3>
                <div class="price">
                    <div class="row">
                        <div class="col">
                            <b>{{ product.Price}}</b>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

