.img-responsive {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 200px;
}

.card{
    background: rgba(0,0,0,0);
}

.bg-img {
    background-image: linear-gradient(to bottom right, white, grey, pink, purple);
  }

/* .bg-img {
    background: url('../../assets/img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
} */

.form-inline{
    max-width: 600px;
    width: auto;
    margin: auto;
}

.form-control{
    width: 400px;
}

ul:hover {
    cursor: pointer;
}