.img-responsive {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 200px;
}

.card{
    background: rgba(0,0,0,0);
}

.bg-img {
    background-image: linear-gradient(to bottom right, white, grey, pink, purple);
    height: 70rem;
  }

.form-inline{
    max-width: 600px;
    width: auto;
    margin: auto;
}

.form-control{
    width: 400px;
}