<div class="bg-img">

  <app-navbar></app-navbar>
      <div class="container-fluid mt-4" *ngIf = "datas">
        <div class="card border-0 shadow my-2">
          <div class="card-body p-5">
            
            <div>
              <div class="row mx-auto">
               <div *ngFor="let p of datas; let i = index">
                  <!-- <div *ngIf="$index % 3 == 0"></div> -->
                  <div class="col-sm-4 col-xs-12 mb-4">
                    <app-product-card [product]=p></app-product-card>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    
</div>