<div class="bg-img">

  <nav class="navbar navbar-expand-lg navbar-light bg-grey">
    <a class="navbar-brand"><img class="img-responsive" src="assets\img\logo1.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/infopage"><b>Product Search</b></a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>

  <!-- <form class="form-inline" style="text-align: center;">
    <div class="form-group mx-sm-3 mb-2">
      <input class="form-control md-5" type="search" placeholder="Enter product name" aria-label="Search">

    </div>
    <button type="submit" class="btn btn-outline-dark mb-2" routerLink="/infopage"><b>Search</b></button>
  </form> -->

  <!-- <br><br> -->

  <div class="container-fluid mt-4">
    <div class="card border-0 shadow my-2">
      <div class="card-body p-5">
        
        <div>
          <div class="row mx-auto">
           <div *ngFor="let p of datas; let i = index">
              <div ng-if="$index % 3 == 0"></div>
              <div class="col-sm-4 col-xs-12 mb-4">
                <app-product-card [product]=p></app-product-card>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>

 

</div>